@model LoginViewModel
@{
    ViewData["Title"] = "Forget Password";
    Layout = "_Layout";
}

<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
    <div class="row w-100">
        <div class="col-12 col-md-4 mx-auto p-4 shadow rounded bg-light">
            <h2 class="text-center mb-4">Forget Password</h2>
            <form method="post">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary w-100">Get OTP</button>
                <div class="text-center mt-3">
                    <a asp-controller="Auth" asp-action="Login" class="text-decoration-none text-blue">
                        <i class="ri-arrow-left-line text-blue me-1"></i>Back to Login
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
