@{
    ViewData["Title"] = "Reset Password";
}
@* <div class="main-content"> *@
@*     <div class="row py-3"> *@
@*         <div class="col-6"> *@
@*             <h2>Reset Password</h2> *@
@*         </div> *@
@*     </div> *@
@*     <form method="post" asp-action="ResetPassword" id="resetPassword"> *@
@*         <div class="mb-3"> *@
@*             <label class="form-label">New Password</label> *@
@*             <input type="text" class="form-control" name="newPassword" placeholder="New Password" /> *@
@*             <span class="text-danger"></span> *@
@*         </div> *@

@*         <div class="mb-3"> *@
@*             <label class="form-label">Confirm Password</label> *@
@*             <input type="text" class="form-control" name="confirmPassword" placeholder="Confirm Password" /> *@
@*             <span class="text-danger"></span> *@
@*         </div> *@
@*         <button type="submit" class="btn btn-success">Set</button> *@
@*     </form> *@
@* </div> *@

<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
    <div class="row w-100">
        <div class="col-12 col-md-4 mx-auto p-4 shadow rounded bg-light">
            <h2 class="text-center mb-4">Reset Password</h2>
            <form method="post">
                <div class="mb-3">
                    <label class="form-label">New Password</label>
                    <input type="text" class="form-control" name="newPassword" placeholder="New Password" />
                    <span class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Confirm Password</label>
                    <input type="text" class="form-control" name="confirmPassword" placeholder="Confirm Password" />
                    <span class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary w-100">Set</button>
                <div class="text-center mt-3">
                    <a asp-controller="Auth" asp-action="Login" class="text-decoration-none text-blue">
                        <i class="ri-arrow-left-line text-blue me-1"></i>Back to Login
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
