@model DepartmentModel

@{
    ViewData["Title"] = "Create Department";
}
<div class="main-content">
    <div class="row py-3">
        <div class="col-6">
            <h2>Create Department</h2>
        </div>
    </div>
    <form method="post" asp-action="Create">
        <div class="mb-3">
            <label class="form-label">Department Name</label>
            <input type="text" class="form-control" asp-for="DepartmentName" placeholder="Department Name" />
            <span class="text-danger" asp-validation-for="DepartmentName"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Department Short Name</label>
            <input type="text" class="form-control" asp-for="DepartmentShortName" placeholder="Short Name" />
            <span class="text-danger" asp-validation-for="DepartmentShortName"></span>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Back</a>
    </form>
</div>

