@{
    ViewData["Title"] = "Departments";
}
<div class="card">
    <div class="row p-3">
        <div class="col-6">
            <h5 class="card-header">Departments</h5>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-end">
            <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle me-2"></i>Add New Deparment</a>
        </div>
    </div>
    <hr class="my-0">
    <div class=" table-responsive p-5">
        <table class=" table table-bordered " id="departmentTbl">
                
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            loadDepartmentData();
        });

        var departmentDataTable;

        function loadDepartmentData() {
            departmentDataTable = $('#departmentTbl').DataTable({
                processing: true,
                pageLength: 50,
                ajax: {
                    url: '/Admin/Department/GetAll',
                },
                columns: [
                    { data: 'departmentId', title: 'ID', width: "10%" },
                    { data: 'departmentName', title: 'Department Name', width: "70%" },
                    { data: 'departmentShortName', title: 'Short Name', width: "70%" },
                    {
                        data: 'departmentId',
                        render: function (data) {
                            return `
                                <a href="/Admin/Department/Edit/${data}" class="btn btn-sm btn-icon btn-text-secondary rounded-pill waves-effect">
                                    <i class="ri-pencil-line me-2"></i>
                                </a>
                            `;
                        },
                        title: 'Action',
                        width: "20%"
                    },
                ]
            });
        }
    </script>
}
