@model Attendance.Models.SubjectModel

@{
    ViewData["Title"] = "Edit Subject";
}

<div class="main-content">
    <div class="row py-3">
        <div class="col-6">
            <h2>Edit Subject</h2>
        </div>
    </div>

    <form method="post" asp-action="Edit" id="subjectForm">
        <!-- Hidden field to hold Subject ID -->
        <input type="hidden" asp-for="SubjectId" />

        <div class="mb-3">
            <label class="form-label">Subject Name</label>
            <input type="text" class="form-control" asp-for="SubjectName" id="subjectName" />
            <span class="text-danger" asp-validation-for="SubjectName"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Subject Short Name</label>
            <input type="text" class="form-control" asp-for="SubjectShortName" id="subjectShortName" />
            <span class="text-danger" asp-validation-for="SubjectShortName"></span>
        </div>
        <button type="submit" class="btn btn-success">Update</button>
        <a asp-action="Index" class="btn btn-secondary">Back</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
