@model ScheduleModel

@{
    ViewData["Title"] = "Add Schedule";
}

<div class="main-content">
    <div class="row py-3">
        <div class="col-6">
            <h2>Add Schedule</h2>
        </div>
    </div>
    <form method="post" asp-action="Create" id="scheduleForm">
        <div class="mb-3">
            <label class="form-label" for="facultyId">Faculty</label>
            <select class="form-control" id="facultyId" asp-for="FacultyId" asp-items="ViewBag.FacultyList">
                <option value="">Select Faculty</option>
            </select>
            <span class="text-danger" asp-validation-for="FacultyId"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" for="subjectId">Subject</label>
            <select class="form-control" id="subjectId" asp-for="SubjectId" asp-items="ViewBag.SubjectList">
                <option value="">Select Subject</option>
            </select>
            <span class="text-danger" asp-validation-for="SubjectId"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" for="classId">Class</label>
            <select class="form-control" id="classId" asp-for="ClassId" asp-items="ViewBag.ClassList">
                <option value="">Select Class</option>
            </select>
            <span class="text-danger" asp-validation-for="ClassId"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" for="startTime">Start Time</label>
            <input type="time" class="form-control" id="startTime" asp-for="StartTime" required />
            <span class="text-danger" asp-validation-for="StartTime"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" for="endTime">End Time</label>
            <input type="time" class="form-control" id="endTime" asp-for="EndTime" required />
            <span class="text-danger" asp-validation-for="EndTime"></span>
        </div>


        <div class="mb-3">
            <label class="form-label" for="day">Day</label>
            <select class="form-control" id="day" asp-for="Day" asp-items="Html.GetEnumSelectList<DaysOfWeek>()">
                <option value="">-- Select Day --</option>
            </select>
            <span class="text-danger" asp-validation-for="Day"></span>
        </div>


        <button type="submit" class="btn btn-success">Save</button>
        <a asp-action="Index" asp-route-id="@Model.ClassId" class="btn btn-secondary">Back</a>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
