@{
    ViewData["Title"] = "Change Password";
}
<div class="main-content">
    <div class="row py-3">
        <div class="col-6">
            <h2>Change Password</h2>
        </div>
    </div>
    <form method="post" asp-action="ChangePassword" id="changePassword">
        <div class="mb-3">
            <label class="form-label">Current Password</label>
            <input type="text" class="form-control" name="currentPassword" placeholder="Current Password" />
            <span class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">New Password</label>
            <input type="text" class="form-control" name="newPassword" placeholder="New Password" />
            <span class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Confirm Password</label>
            <input type="text" class="form-control" name="confirmPassword" placeholder="Confirm Password" />
            <span class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Change</button>
        <a asp-action="Index" class="btn btn-secondary">Back</a>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
