@model BatchModel

@{
    ViewData["Title"] = "Add New Batch";
}

<div class="main-content">
    <div class="row py-3">
        <div class="col-6">
            <h2>Add New Batch</h2>
        </div>
    </div>
    <form method="post" asp-action="Create" id="batchForm">
        <div class="mb-3">
            <label class="form-label">Course</label>
            <select class="form-control" asp-for="CourseId" asp-items="@(new SelectList(Model.Courses, "CourseId", "CourseName"))">
                <option value="">-- Select Course --</option>
            </select>
            <span class="text-danger" asp-validation-for="CourseId"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Semester</label>
            <input type="text" class="form-control" asp-for="Semester" id="semester" />
            <span class="text-danger" asp-validation-for="Semester"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">No of Classes</label>
            <input type="text" class="form-control" asp-for="NumberOfClasses" id="numberofclasses" />
            <span class="text-danger" asp-validation-for="NumberOfClasses"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Year</label>
            <input type="number" class="form-control" asp-for="Year" id="year" />
            <span class="text-danger" asp-validation-for="Year"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Start Date</label>
            <input type="date" class="form-control" value="2020-01-01" asp-for="StartDate" id="startDate" />
            <span class="text-danger" asp-validation-for="StartDate"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">End Date</label>
            <input type="date" class="form-control" value="2020-01-01" asp-for="EndDate" id="endDate" />
            <span class="text-danger" asp-validation-for="EndDate"></span>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-action="Index" class="btn btn-secondary">Back</a>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
